doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//code.jquery.com/jquery.js")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')

    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css')

    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(href="css/bootstrap.min.css",rel="stylesheet",media="screen")
    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43977499-1', 'pure-spire-1124.herokuapp.com');
      ga('send', 'pageview');

    block head_tail
  body
    div(class='navbar navbar-inverse navbar-fixed-top')
        div.container
          div.navbar-header
            button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(class='navbar-brand' href='/')= t('project')
          div(class='collapse navbar-collapse')
            ul(class='nav navbar-nav')
              li.active
                a(href='#')= t('home')
    block content
    div.container
      hr
      footer: p. &copy; DeMark 2013